/*共通*/
*{
  box-sizing: border-box;
}

body, ul {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body, ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

a {
    color: #222;
    text-decoration: none;
}

img{
    width: 100%;
}

ul {
    list-style: none;
}

.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.contents-tidy {
    display: flex;
    justify-content: space-between;
}

.hover-opacity {
    transition: opacity 0.2s;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.pc-br{
    display: block;
}

/*ヘッダー*/
.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}

.header-logo > .header-logo-sp {
    display: none;
}

.header-nav-hamburger {
    display: none;
}

.header-nav-list.contents-tidy {
    align-items: center;
}

.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
}

.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}

.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}

.link-button{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 12px;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: white;
    line-height: 40px;
}

/*コース・料金について*/

.course{
    background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
    background-color: #f79314;
    padding-top: 70px;
    padding-bottom: 71px;
    background-repeat: no-repeat;
    background-position: center;
}

.course h1{
    font-size: 40px;
    color: white;
    letter-spacing: 3px;
    padding-left: 145px;
}

/*POTEPAN CAMPコースについて*/

.main-section{
    padding: 75px 0 80px 0;
}

.course-detail {
    background-color: #fcfaf5;
}

.section-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.section-main-heading{
    font-size: 46px;
}

.section-main-heading span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section-header::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.detail-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.detail-text--emphasis {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}

.under-decoration {
    background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
}

.under-decoration br{
    display: none;
}

.detail-point {
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
}

.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: white;
    border-radius: 50%;
    color: #f79314;
}

.detail-point-title {
    font-size: 30px;
    line-height: 36px;
}

.list-no-image{
    width: 40px;
}

.detail-cassette {
    width: 31%;
    margin-top: 40px;
}

.detail-cassette-title {
    padding: 4px;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.detail-cassette-image {
    margin-top: 16px;
}

.detail-cassette-text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
}

.detail-cassette-text::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 10px;
    background: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-finger.png) no-repeat;
    background-size: 100%;
}

.detail-course-block-box {
    margin-top: 60px;
    padding: 0px 40px 0px;
    display: flex;
    text-align: center;
}

.detail-course-block {
    width: 48.5%;
    border-collapse: separate;
    border: 1px solid #7070701A;
    border-radius: 10px;
}

.detail-course-block:first-child {
    margin-right: 25px;
}

.detail-course-head {
    background-color: #F79314;
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
    color: white;
    padding: 18px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

.detail-course-head span {
    font-size: 14px;
}

.detail-course-head p {
    font-size: 20px;
    margin-top: 3px;
}

.detail-course-content {
    padding: 18px;
}

.detail-course-content:nth-child(odd) {
    background-color: #fff8ea;
}

.detail-course-content:nth-child(even) {
    background-color: #fffdfa;
}

.detail-course-content-price{
    font-size: 24px;
    margin: 10px 0 20px;
    font-family: Lato-Black;
    font-weight: bold;
}

.detail-course-content-price span{
    font-size: 12px;
}

.detail-course-content-body {
    font-family: Noto Sans CJK JP;
    font-size: 16px;
    color: #22222299;
    line-height: 2em;
    text-align: left;
    margin-bottom: 10px;
}

.detail-course-term {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.detail-course-term span{
    font-size: 32px;
}

 .detail-course-orange{
     font-weight: 100;
 }
 
.detail-course-orange span{
    color: #F79214;
    margin-left: 5px;
}

.detail-course-anchor > a {
    color: #F79214;
    font-weight: bold;
}

.detail-course-anchor::before{
    content:">";
    color:  #F79214;
    margin-right: 10px;
    font-size:6px;
    display: inline-block;
    transform: rotate(90deg);
}

.plan-box {
    padding: 40px;
    border-radius: 20px;
    background-color: #fcfaf5;
}

.plan-box:first-child {
    margin-bottom: 60px
}

.plan-sub-head {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.plan-head {
    max-width: 480px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1em;
    text-align: center;
    color: #f79214;
    background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-head br{
    display: none;
}

.plan-cassettes {
    margin-top: 40px;
    padding: 16px 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.plan-cassettes-head {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.plan-cassettes-head::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-point.png);
    background-size: 100%;
}

.list-content {
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 16px;
    line-height: 26px;
}

.list-content::before {
    content: '・';
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    color: #f79314;
}

.desc-title {
    align-items: center;
    width: 142px;
    margin-top: 20px;
    padding: 4px 26px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #f79214;
    background-color: #fcfaf5;
}

.desc-title.detail::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
    width: 17px;
    height: 17px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-pencil.png);
}

.desc-title.term::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
    width: 16px;
    height: 18px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-calender.png);
}

.desc-title.condition::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
    width: 17px;
    height: 14px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-condition.png);
}

.desc-title.fee::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
    width: 20px;
    height: 20px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-coin.png);
}

.desc-text {
    margin-top: 20px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
}

.plan-cassettes-tools {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.plan-cassettes-tool:nth-child(odd) {
    margin-right: 2%;
}

.plan-cassettes-tool {
    width: 49%;
}

.plan-cassettes-tool-box {
    padding: 13px 8px 18px;
}

.plan-cassettes-tool-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}

.plan-cassettes-tool-body {
    font-size: 16px;
}

.plan-cassettes-skipping {
    padding: 20px;
}

.plan-cassettes-skipping-left {
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-right: 20px;
}

.plan-cassettes-skipping-right h4 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.plan-cassettes-skipping-right p {
    font-size: 16px;
}

.plan-cassettes-skipping-right>p>span {
    color: #F79214;
}

.plan-cassettes-skipping-right br{
    display: none;
}

.pick-up-contents-list {
    margin-left: -20px;
    margin-right: -20px;
}

.main-section.pick-up-contents {
    padding-top: 40px;
    background-color: #f6f6f6;
    padding-bottom: 120px;
    position: relative;
}

.pick-up-contents > .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.pick-up-contents-list > .pick-up-contents-cassette {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}

.pick-up-contents-media-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 190px;
    position: relative;
}

.pick-up-contents-media-thumbnail > img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}

.hover-scale{
    transition: transform 0.2s;
}

a:hover .hover-scale{
    transform: scale(1.1);
}

.pick-up-contents-media-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}

a:hover .hover-text-color {
    color: #f79314;
}

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
}

.page-top-button:hover{
    background-color: #F79214;
}

.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.page-top-button:hover .page-top-arrow{
    border-left: solid 3px white;
    border-top: solid 3px white;
}

.footer-info {
    display: block;
    color: #fff;
    order: 1;
}

.footer-logo {
    display: inline-block;
    max-width: 280px;
}

.footer-logo>img{
    width: 100%;
    height: auto;
}

.footer-company{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

.footer-address{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 24px
}

.footer-social{
    margin-top: 35px;
    display: flex
}

.footer-social li + li{
    margin-left: 20px;
}

.footer-nav{
    order: 2;
}

.footer-nav li{
    margin-bottom: 30px;
}

.footer-social-item {
    display: block;
    max-width: 60px;
}

.footer-nav-item{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}

.footer-character {
    align-self: flex-end;
    order: 3;
}

.footer-character > img {
    width: auto;
    height: 70px;
}

.site-footer-sub {
    margin-top: 60px;
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
}