@media screen and (max-width: 1080px){
  
body, ul {
  font-size:  15px;
}

.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100%;
}

.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo > .header-logo-pc {
  display: none;
}
   
.header-logo > .header-logo-sp {
  display: inline-block;
  width: auto;
  height: 16px;
}
  
.header-nav-list{
  display: none;
 }
  
 .header-nav-hamburger {
  cursor: pointer;
  display: block;
  position: relative;
  width: 30px;
  height: 21px;
  z-index: 100;
}

.header-nav-hamburger-line{
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translate(0, -50%);
  border-radius: 10px;
  transition: 0;
}

.header-nav-hamburger-line:nth-child(2) {
    top: 0;
}

.header-nav-hamburger-line:nth-child(4) {
    top: 100%;
}

.header-nav-hamburger :checked ~ .header-nav-hamburger-line:nth-child(2) {
    top: 50%;
    transform:rotate(45deg);
}

.header-nav-hamburger :checked ~ .header-nav-hamburger-line:nth-child(3) {
    opacity: 0;
}

.header-nav-hamburger :checked ~ .header-nav-hamburger-line:nth-child(4) {
    top: 50%;
    transform:rotate(-45deg);
}

input{
    display: none;
}

.main-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.course {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-sp.png);
    padding-top: 95px;
    padding-bottom: 90px;
    background-size: contain;
    background-position: bottom;
}

.course h1 {
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
    padding-left: 0;
}

.section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
    display: block;
}

.section-main-heading{
    text-align: center;
    font-size: 26px;
    line-height: 1.2;
}

.detail-text {
    font-size: 15px;
    text-align: left;
}

.pc-br{
  display: inline;
}

.detail-text--emphasis {
    font-size: 16px;
    text-align: center;
}
  
.under-decoration br{
    display: block;
}

.detail-point {
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.detail-point .list-no {
    width: 80px;
    height: 80px;
    margin-top: -70px;
}

.list-no-image {
    width: 32px;
}

.detail-point-title {
    font-size: 20px;
}

.detail-cassette {
    width: 100%;
    margin-top: 36px;
}

.detail-box {
    flex-direction: column;
}

.detail-course-block{
  width: 100%;
}

.detail-course-block-box {
    padding: 0;
    display: block;
}

.plan-head {
    font-size: 24px;
    line-height: 27px;
}

.plan-head br{
  display: block;
}

.plan-box {
    margin-top: 40px;
    padding: 20px;
}

.plan-cassettes {
    margin-top: 20px;
    padding: 16px 20px 20px 16px;
}

.plan-cassettes-head {
    margin-bottom: 10px;
    text-align: center;
}

.list-content {
    padding-left: 0;
    font-size: 15px;
    line-height: 22px;
}

.list-content + .list-content {
    margin-top: 10px;
}

.list-content::before {
  width: 24px;
  margin-right: 5px;
}

.desc-title {
    margin-right: auto;
    margin-left: auto;
    padding-right: 22px;
    padding-left: 22px;
}

.desc-text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}

.desc-text p + p {
    margin-top: 10px;
}

.plan-cassettes-tool{
  margin-top: 17px;
}

.plan-cassettes-tool:nth-child(odd) {
    margin-right: 0;
}
.plan-cassettes-tool {
    width: 100%;
}

.plan-cassettes-skipping {
    display: block;
    padding: 18px;
}

.plan-cassettes-skipping-left {
    float: none;
    width: 65%;
    height: auto;
    max-width: 130px;
    margin: 0px auto 20px;
}

.plan-cassettes-skipping-right {
    float: initial;
    text-align: center;
}

.plan-cassettes-skipping-right h4{
  margin-bottom: 14px
}

.plan-cassettes-skipping-right br{
  display: block;
}

.plan-cassettes-skipping-right p {
    text-align: left;
}

.main-section.pick-up-contents {
    padding-top: 55px;
    padding-bottom: 60px;
}

.pick-up-contents > .content-width {
    background: none;
    padding-top: 0;
}

.main-section.pick-up-contents::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 40px;
    left: 60%;
    width: 130px;
    height: 130px;
}

.pick-up-contents-list {
    margin-left: 0;
    margin-right: 0;
    display: block;

}

.pick-up-contents-list > .pick-up-contents-cassette {
    width: 100%;
}

.pick-up-contents-list > .pick-up-contents-cassette +.pick-up-contents-cassette {
    margin-top: 25px;
}

.site-footer-main {
    display: block;
    text-align: center;
}

.page-top-button {
    right: 20px;
    top: -105px;
}

.site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
}

.site-footer-main .footer-character {
    margin-top: 50px;
}

.site-footer-main .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
}

.footer-info .footer-social {
    justify-content: center;
}

}